.class-search-checkbox-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* hide default */
.checkbox input {
  display: none;
}

/* custom box */
.checkmark {
  width: 17px;
  height: 17px;
  border: 2px solid #4f5f7f;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

/* checked state */
.checkbox input:checked + .checkmark {
  background: #6f86b3;
  border-color: #6f86b3;
}

/* check icon */
.checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
